<h1>Hi !</h1>
<p>You're logged in!!</p>
<br>
  
  <section>
      <form class="form-horizontal" method="post" ng-submit="addbook()">
<fieldset>

<!-- Form Name -->
<legend>Add Your Book</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtTitle">Name</label>  
  <div class="col-md-4">
  <input id="txtTitle" name="name" type="text" placeholder="name" class="form-control input-md" ng-model="addBook.name">
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtPost">Description</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="txtPost" placeholder="Description" name="price" ng-model="addBook.price" ></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Publish" onclick="window.location.reload()"/>
  </div>
</div>

</fieldset>
</form>
      
</section>
       
       <h2>All registered books:</h2>

<ul>
  <li ng-repeat="book in books">
    <p>Name: {{ book.name }}</p>
    <p>Description: {{ book.price }}</p>
    <p>Id: {{ book.id }}</p>
  </li>
</ul>
<a href="#/"  ng-click="remove(book)" >Delete ALL  Books</a> 
 
  
  

<p>&nbsp;</p>
<p><a href="#/login" class="btn btn-primary">Logout</a></p>